<div class="player">	
	<div class="meta-information">
		<div class="art"><img src="{{#if artwork}}{{artwork}}{{else}}http://placehold.it/120x120{{/if}}" /></div>
		<div class="song-information">
			<h1>{{#if name}}{{name}}{{else}} Select a Song{{/if}}</h1>
			<h2>{{#if artist}}{{artist}}{{else}} I'll tell you the artist when I know it. {{/if}}</h2>
		</div>
	</div>
	<div class="controls">
		<ul>
			<li><a href="#" class="buttons-sprite buttons-play">Play</a></li>
			<li><a href="#" class="buttons-sprite buttons-previous">Previous</a></li>
			<li><a href="#" class="buttons-sprite buttons-next">Next</a></li>
		</ul>
	</div>
</div>